In [32]:
#importing data from directory
import pandas as pd
df = pd.read_excel(r'C:\Users\sksub\OneDrive\Desktop\Data\Customer Call List.xlsx')

In [33]:
#Deleting the Duplicate rows from the Customer call list Dataframe
df=df.drop_duplicates()

In [34]:
#Removing 'Not_Useful_Column'
df=df.drop(columns='Not_Useful_Column')

In [35]:
#Cleaning the column 'Last_Name'
df['Last_Name']=df['Last_Name'].str.lstrip("/")
df['Last_Name']=df['Last_Name'].str.lstrip("...")
df['Last_Name']=df['Last_Name'].str.rstrip("_")

In [36]:
#Replacing the Phone numbers with correct format
df['Phone_Number']=df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')
df['Phone_Number']=df['Phone_Number'].apply(lambda x : str(x))
df['Phone_Number']=df['Phone_Number'].apply(lambda x : x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df['Phone_Number']=df['Phone_Number'].str.replace('nan--','')
df['Phone_Number']=df['Phone_Number'].str.replace('Na--','')

C:\Users\sksub\AppData\Local\Temp\ipykernel_19656\4230040241.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Phone_Number']=df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')

In [38]:
#Splitting the address into Street_Address, State and Zipcode
df[['Street_Address','State','Zipcode']]=df['Address'].str.split(',',2,expand=True)
df=df.drop(columns='Address')

In [44]:
#Standardize Boolean columns
df['Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer']=df['Paying Customer'].str.replace('No','N')
df['Paying Customer']=df['Paying Customer'].str.replace('N/a','')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('NaN','')
df.fillna('')

In [51]:
#Removing the data of the customers whose phone nimbers are not given or who do not want us to contact
for x in df.index:
    if (df.loc[x,'Do_Not_Contact'] == 'Y') or (df.loc[x,'Phone_Number'] == ''):
        df.drop(x,inplace=True)

In [54]:
#Resetting the index of the dataframe
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,None
1,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,None,None
2,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,None,None
3,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,None
4,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,None,None
5,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,None,None
6,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,None,None
7,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,None,None
8,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,None
9,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,None

In [55]:
#Saving the file to the directory
df.to_csv(r'C:\Users\sksub\OneDrive\Desktop\Data\Customer_Call_List_Cleaned.csv')